@model SomerenApp.Models.Lecturer

<h2>Are you sure you want to delete this lecturer?</h2>

<h3>@Model.FirstName @Model.LastName</h3>
<p>@Model.PhoneNumber</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" name="LecturerID" value="@Model.LecturerID" />

    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
